{{- with .Site.Data.service}}
<section class="bg-gray-50 relative pb-10 md:pb-20 lg:pb-56" id="services">
  <!-- background svg -->
  <div class="hidden lg:block lg:absolute lg:-top-10 lg:right-0 lg:w-2/5">
    <svg viewBox="0 0 1283 1126">
      <path fill="#f1f6f9" d="M100 0h1183v1126l-1183-80A100 100 0 010 946V100A100 100 0 01100 0z"
        data-name="Path 1369" />
    </svg>
  </div>

  <div class="max-w-7xl mx-auto py-10 px-6 lg:px-8 relative z-10">
    <div class="text-center max-w-2xl mx-auto pb-6 md:pb-12">
      <h2 class="top-title">{{.topTitle}}</h2>
    </div>
    <div class="max-w-xl mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
    {{$Service := .service}}
     {{- range $Service}}
      <div class="rounded-2xl shadow-lg overflow-hidden bg-gray-50 p-8">
        <span class="text-primary-900">{{.content | markdownify}}</span>
      </div>
      {{- end}}
    </div>
  </div>
</section>
{{- end}}
